#Uncomment the following lines as you create the pages.
#ErrorDocument 400 /400.php
#Bad Request

#ErrorDocument 401 /401.php
#Unautorized

#ErrorDocument 403 /403.php
#Forbidden

#ErrorDocument 404 /404.php
#Not Found

#ErrorDocument 500 /500.php
#Internal Server Error

RewriteEngine On

RewriteRule "landing_page$" "app/views/landing_page.php"

RewriteRule "login$" "app/views/login.php"

RewriteRule "register$" "app/views/register.php"

RewriteRule "forgot-password$" "app/views/forgot_password.php"

RewriteRule "home$" "app/views/home.php"

RewriteRule "league$" "app/views/league.php"