/* BEGIN - All Pages */

body {
  background-color: #141f25;
}

/* END - All Pages */

/*BEGIN - Signin*/

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-control {
  color: #fff;
  background: transparent;
  font-size: 16px;
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

input {
  border: solid 6px #38464f !important;
  margin-bottom: 10px;
}

/*END - Signin*/

/* BEGIN - Profile page */

.profile-header img {
  width: 100px;
}

/* END - Profile page */

/* BEGIN - league page */

.table > thead{
  background-color: #DA373A;
  border-radius: 10px;
  color: white;
}

.table > tr {
  border: 0px;
}

.list-match-date{
  font-size: 13px;
}

/* END - league page */